.navbar-brand {
  margin-right: 50px;
}

.navbar-nav {
  .dropdown {
    .dropdown-toggle {
      padding-left: 0;
    }
  }
}

.list-group-item.active {
  background-color: $gray-100;
  border-color: $gray-400;
}

.all {
  color: $gray-900;
}

.photo {
  border-radius: 50%;
}

.expand-more {
  color: #198754;
}

.person-img-Q {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week5/emilywang.jpeg?raw=true);
  background-size: cover;
  background-position: center;
}

.person-img-A {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true);
  background-size: cover;
  background-position: center;
}

.t-hr {
  border-top: 1px solid $gray-400;
}

.wh-40 {
  min-width: 40px;
  height: 40px;
}

.mr-26 {
  margin-right: 26px;
}

.fz-12 {
  font-size: 12px;
}

.fz-14 {
  font-size: 14px;
}

.p-12 {
  padding: 12px;
}

.gap-74 {
  gap: 74px;
}

.gray-900 {
  color: $gray-900;
}

.gray-600 {
  color: $gray-600;
}